<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                <a class="nav-link " aria-current="page" href="index.html">Fő oldal</a>
                <a class="nav-link" href="#" onclick="render('konyv')">Könyvek</a>
                <a class="nav-link" href="#" onclick="render('szerzo')">Szerzők</a>
                </div>
            </div>
            </div>
        </nav>
    
        <table class="table table-striped" id="konyvTable">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Cím</th>
                    <th scope="col">Megjelenés</th>
                    <th scope="col">ISBN szám</th>
                </tr>
              </thead>
        </table>

        <hr>
        <h3 style="color: white;">Könyv feltöltése</h3>
        <div class="form-floating mb-3 konyvinput">
            <input type="text" class="form-control" id="title" placeholder="Cím">
            <label for="title">Cím</label>
          </div>
          <div class="form-floating mb-3 konyvinput">
            <input type="text" class="form-control" id="release" placeholder="Megjelenés">
            <label for="release">Megjelenés</label>
          </div>
          <div class="form-floating mb-3 konyvinput">
            <input type="text" class="form-control" id="ISBN" placeholder="ISBN szám">
            <label for="ISBN">ISBN szám</label>
        </div>
        <button class="btn btn-primary" onclick="uploadBook()">Könyv feltöltés</button>
</main>

</body>
</html>