body{
    background-color: gray;
    color: black;
}
header{
    text-align: center;
    background-color: #2b3035;
    color: white;
}
footer{
    color: white;
    text-align: center;
    background-color: black;
}
.konyvinput{
    color: white;
}

.dotted {
  background-image: radial-gradient(#27272a 10%, transparent 10%),
      radial-gradient(#27272a 10%, transparent 10%);
  background-color: #18181b;
  background-position: 0 0, 50px 50px;
  background-size: 50px 50px;
}